/* defaults */
nav,header,footer{
    display: block;
}

body
{
    line-height: 2;
    margin: 0;
}

.container
{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row
{
    width: 100%;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
}

.row::after
{
    display: table;
    clear: both;
    content: "";
}


.col-1{width: 8.33%;}
.col-2{width:16.66% ;}
.col-3{ width:25% ;}
.col-4{width:33.33% ;}
.col-5{width:41.66% ;}
.col-6{width:50% ;}
.col-7{width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12{width: 100%;}

/* navbar */

nav
{
    width: 100%;
    margin: 0;
}

nav ul
{
    background-color: lightgray;
    overflow: hidden;
    /*no scrollover*/
    margin: 0;
    padding: 0;
}

ul.topnav li
{
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right
{
    float: right;
}

ul.topnav li a
{
    display: block;
    text-decoration: none;
    min-height: 16px;
    /* no-matter what the size of viewport.. text size will not be less than this */
    text-align: right;
    padding: 14px;
    text-transform: uppercase;
    margin: 2px;
    color: #666;
}

ul.topnav li a:hover
{
    background-color: #0080ff;
    color: #fff;

}

ul.topnav li.ham
{
    display: none;
}



#sec1
{
    background: rgb(12, 99, 180);
    background-image: linear-gradient(to bottom, #809fff, #4d79ff);
    margin: 0;

}
.left
{
    margin-left: 25%;
}


.right
{
    margin-left: 12%;
}

h1.large
{
    color: #fff;
    font-size: 46px;
    margin: 0;
    line-height: 70px;

}

form h2
{
    color: #fff;
}

input[type="text"]
{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border:solid 2px gray;
    border-radius:  7px;
    
}

/* Setting styles for mobile */

@media screen and (max-width: 680px)
{
    ul.topnav li:not(:nth-child(1)){
        display:none;
    }

    ul.topnav li.ham
    {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.ham 
    {
        position: absolute;
        top: 0;
        right: 0;
        /* stay at same position */
    }

    ul.topnav.responsive
    {
        position: relative;

    }
    ul.topnav.responsive li 
    {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a 
    {
        display: block;
        text-align: left;
        
    }

    .col-6
    {
        width: 100%;
        margin:0;
    }

    div.left
    {
        margin:20px;

    }

    div.right
    {
        margin:20px;
    }

    input[type="text"]
    {
        width: 300px;
    }

    .mob iframe
    {
        width: 100%;
        height: 300px;
        margin:0;
        position:relative;
        overflow: hidden;
    }
}





